/* login Page */

h1{
    color:rgb(184, 12, 236);
    text-align: center;
    padding-top: 10px;
}

body{
    background-color: antiquewhite;
}

.container{
    background-color:white;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    margin: 150px 650px 400px 450px;
  
   
    
}

.content1{
    padding-left: 100px;
    padding-top:10px;
}

.content2{
    padding-left: 100px;
    padding-top:10px;
}

.content3{
    text-align: center;
    padding-top: 20px ; 
    
    
}

.content4{
    text-decoration: underline;
    padding-left: 120px;
    color: blue;
    padding-top: 17px;
    font-size: 15px;
    
    
    
}

.content5{
    padding-left: 60px;
    padding-top: 30px;

}

.content5 a{
    color: blue;
}
.content3 input{
    width: 50px;
    height: 30px;
}


/* Sign up */

.container1{
    background-color:white;
    width: 400px;
    height: 430px;
    border-radius: 30px;
    margin: 250px 650px 400px 750px;
  
   
    
}

.head{
    padding-top: 30px;
}

.body1{
    background-color: rgb(83, 143, 143);
}


.col1{
    padding-left: 100px;
    padding-top: 10px;
}

.col2{
    padding-left: 100px;
    padding-top: 10px;
}

.col3{
    padding-left: 100px;
    padding-top: 10px;
}

.col4{
    padding-left: 100px;
    padding-top: 10px;
}

.col5{
    padding-left: 100px;
    padding-top: 10px;
   
}
.col6{
    padding-left: 170px;
    padding-top: 20px;

}

.col7{
      padding-left: 60px;
      padding-top: 20px;
}

/* addcourse page */

.body4{
    background-color: white;
}

iner8{
    box-shadow: 4px 10px 8px rgb(153, 136, 150);
    height: 54px;
    position: sticky;
  top: 0;

    
}


.div2{
    padding: 0;
    margin: 0;
    background-color: rgb(253, 206, 245);

}
.container8 nav{
    background-color:rgb(253, 206, 245);
    height: 30px;
   
    
}


.div2 img{
    width: 50px;
    height: 50px;
}
.container7{
    background-color:rgb(253, 206, 245);
    height: 620px;
    width: 450px;
    margin: 70px 450px;
    border-radius: 20px;
}

.container7 h1{
    padding-top: 30px;
}

.content8{
     padding-left: 60px;
     margin-top: 30px;
     width: 170px;
}
 .content9{

    padding-left: 60px;
     margin-top: 10px;
     
}

.content9 input{
    width:300px;
    height: 30px;
    border-radius: 10px;
    border:2px solid black;
}

.content10{
    padding-left: 60px;
     margin-top: 10px;
}

.content11{
    padding-left: 60px;
     margin-top: 10px;

}

.content11 input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border:2px solid black;
}

.content12{
    padding-left: 60px;
     margin-top: 10px;

}

.content13{
    padding-left: 60px;
     margin-top: 10px;

}

.content13 select {
    width: 306px;
    height: 30px;
    border-radius: 10px;
    border:2px solid black;
    background-color: white;
}

.content14{
    padding-left: 60px;
     margin-top: 10px;

}

.content15{
    padding-left: 60px;
     margin-top: 10px;
    

}

.content15 textarea{
    border-radius: 10px;
    border:2px solid black;
}

.content16{
    padding-left: 60px;
     margin-top: 10px;

}

.content17{
    padding-left: 60px;
     margin-top: 10px;

}

.content17 select{
    width:308px;
    height: 30px;
    border-radius: 10px;
    border:2px solid black;
   background-color: white;
}

.content18{
    padding-left: 170px;
    padding-top: 20px;

}

.content18 input{
    width: 200px;
    height: 30px;
    margin-left:-50px;
    border-radius: 20px;
    border: 0;
    background-color: blueviolet;
}

/* Home page */

.body2{
    background-color: white;
    margin: 1px;
}

.container5{
    box-shadow: 10px 10px 5px rgb(244, 246, 247);
    height: 60px;
    position: sticky;
    top: 0;
}



.div1{
    padding: 0;
    margin: 0;

}

.nav1{
    list-style-type: none;
    display: flex;
    

}

.nav2{
    text-align: right;
    float: right;
    display: flex;
    justify-content: flex-end;
    top: 0;
    background-color: white;

}

.nav1 li a{
    margin: 2;
    padding:1;
    color: rgb(94, 4, 79);
    margin-left: 15px;
    text-decoration: none;
     
    
}

.nav1  li:hover{
font-size: 17px;
cursor: pointer;

}
 


.div1 img{
    width: 50px;
    height: 50px;
}

.container4{
    display: flex;
 }
.home2{
    color: rgb(58, 3, 71);
    padding-top: 40px;
}

 .home3{
    color: rgb(41, 2, 77);
    text-align: center;
 }

 .home4 {
    background-color: rgb(250, 220, 241);
    text-align: center;
    margin-top:90px;
    height: 150px;

    
 }
 
.home4 h1{
    color: rgb(48, 3, 48);
    padding-top: 30px;

}
.home5{
    border: 4px solid black;
    width:390px;
    height: 390px;
    margin-left: 20px;

}
.home6 img{
    width: 300px;
    height: 200px;
    margin: 0px 29px;
}
.home7 h1{
    color: black;
    font-size: 20px;
}
 .home8{
    margin: 60px 140px;
 }

 .home9{
    border: 4px solid black;
    width:390px;
    height: 390px;
    margin-left: 20px;

}
.home11 img{
    width: 300px;
    height: 200px;
    margin: 0px 29px;
}
.home10 h1{
    color: black;
    font-size: 20px;
}
 .home12{
    margin: 60px 140px;
 }

 .home13{
    border: 4px solid black;
    width:390px;
    height: 390px;
    margin-left: 20px;

}
.home15 img{
    width: 300px;
    height: 200px;
    margin: 0px 29px;
}
.home14 h1{
    color: black;
    font-size: 20px;
}
 .home16{
    margin: 60px 140px;
 }

 
 .home17 input{
    background-color: rgb(250, 220, 241);
    margin-top:20px ;
    margin-left: 500px;
    width:300px;
    height: 30px;
    text-align: center;
    border: 0;
    border-radius: 20px;
    margin-bottom: 20px;
   
 }
.topcourse{
    margin-left: 24px;
}


/* updatecourse page */

.container8{
    position: sticky;
    top:0;
    box-shadow: 5px 10px 8px rgb(59, 55, 55);
}

.container10{
    background-color:rgb(253, 206, 245);
    height: 550px;
    width: 430px;
    margin: 70px 450px;
    border-radius: 20px;
}

.container10 h1{
    padding-top: 30px;
}

.row2{
    padding-left: 60px;
    margin-top: 30px;
    width: 170px;
}
.row3{

   padding-left: 60px;
    margin-top: 10px;
    
}

.row3 input{
   width:300px;
   height: 30px;
   border-radius: 10px;
   border: 2px solid black;
   background-color: white;
   
}

/* .row4{ */
   /* padding-left: 60px; */
    /* margin-top: 10px; */
/* } */

/* .row5{
   padding-left: 60px;
    margin-top: 10px;

} */

/* .row5 input{
   width: 300px;
   height: 30px;
   border-radius: 10px;
   border:3px solid black;
} */

.row6{
   padding-left: 60px;
    margin-top: 10px;

}

.row7{
   padding-left: 60px;
    margin-top: 10px;


}

.row7 select {
   width: 306px;
   height: 30px;
   border-radius: 10px;
   border: 2px solid black;
   background-color: white;
   
}

.row8{
   padding-left: 60px;
    margin-top: 10px;

}

.row9{
   padding-left: 60px;
    margin-top: 10px;
   

}

.row9 textarea{
   border-radius: 10px;
   border: 2px solid black;
   background-color: white;
   
}

.row10{
   padding-left: 60px;
    margin-top: 10px;

}

.row11{
   padding-left: 60px;
    margin-top: 10px;

}

.row11 select{
   width:308px;
   height: 30px;
   border-radius: 10px;
   border: 2px solid black;
   background-color: white;
   
}

.row12{
   padding-left: 170px;
   padding-top: 20px;

}

.row12 input{
   width: 200px;
   height: 30px;
   margin-left:-50px;
   border-radius: 20px;
   border: 0;
   background-color: blueviolet;
}

/* Course page */

.container12 {
    display: flex;
    width: 30%;
    margin-top: 30px;
    margin-left: 10px;
    
    
 }

 .col5{
    background-color: rgb(211, 179, 207);
    width:290px;
    height: 290px;
    margin-left:0;
    border-radius: 40px;
    margin:15px;

}
.col6 img{
    width: 300px;
    height: 200px;
    margin-left: -233px;
    margin-top: -20px;
    border-radius: 20px;
}
.col7 h1{
    color: black;
    font-size: 20px;
    margin-top: -20px;
    padding-right:  160px;
}
 .col8{
    margin: 10px 50px;
 }

/* learmone page */

.container13{
    background-color:rgb(253, 206, 245);
    height: 650px;
    width: 460px;
    margin: 70px 450px;
    border-radius: 20px;
}

.view2 img{
    width:400px;
    height: 200px;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 20px;
}
 .learn{
    list-style-type: none;
    display: flex;
 }

 .learn .view3{
    margin-top: 1px;
    margin-left: 30px;
    color: blueviolet;
 }
 
 
 .learn .view4 {
    margin-left: 180px;
    margin-top: 24px;
    color: red;
 }

 .learn .view5{
    margin-left: 10px;
    margin-top: 15px;
    
 }

 .learn .view5 input{
    height: 30px;
    background-color: blueviolet;
    border: 0;
    border-radius: 5px;
    color: white;
    
 }
 .view6{
    margin-top:-25px ;
    margin-left: 30px;
 }

 .view7{
    margin-top:-5px ;
    margin-left: 30px;
    text-align: justify;
    font-size: 14px;
    margin-right: 20px;
 }

 .view8{
    margin-top:-5px ;
    margin-left: 30px;
 }

 .view9{
    margin-top: -10px;
 }

 .view9 li{
    margin-left: 5px;
 }

 .learn1{
    display: flex;
    
 }

 .learn1 .view10{
    margin-left:910px;
    margin-top: -50px;
   
 }

 .learn1 .view11{
    margin-top: -50px;
    margin-left: 10px;
    
 }

 .learn1 .view10 input{
    width: 90px;
    height: 30px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(42, 42, 220);
    color: white;
 }

 .learn1 .view11 input{
    width: 120px;
    height: 30px;
    border-radius: 10px;
    border: 0;
    background-color: red;
    color: white;
 }

 /* Contact Us */

 .contact1{
    color: rgb(174, 59, 213);
    margin-top: 80px;
 }

 .contact3{
    margin-top: -10px;
 }


 .container20{
    display: flex;
 }


.contact5{
    /* border: 4px solid  white; */
   
    height: 390px;
    margin-left: 20px;
    width:48%;
    float: left;

}
.contact5 img{
    border:1px solid rgb(240, 198, 236);
    background-color: rgb(240, 198, 236);
    border-radius: 90px;
    width: 50px;
    height: 50px;
    margin: 30px 300px;

    
}

.contact5 h4{
    color: black;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    margin-left: 300px;
    margin-top: -20px;
}

 .contact5 p{
    margin-left: 50px;
    text-align: center;
    margin-top: -20px;
 }


 .contact5 .p1{
    margin-top: -10px;
    color: rgb(228, 131, 215);
    font-size: 15px; 
 }
 .contact9{
    /* border: 4px solid black; */
   
    width:48%;
    float: left;
    height: 390px;
    margin-left: 20px;

}


.contact9 img{
    border:1px solid rgb(240, 198, 236);
    background-color: rgb(240, 198, 236);
    border-radius: 90px;
    width: 50px;
    height: 50px;
    margin: 30px -30px;
}
.contact9 h4{
    color: black;
    font-size: 20px;
    margin-left: 300px;
    margin-top: -20px;
    margin-left: -33px;
}

.contact9 p{
    margin-left: -360px;
    text-align: center;
    margin-top: -20px;
 }


.contact9 .p2{
    margin-top: -10px;
    color: rgb(228, 131, 215);
    font-size: 15px;
 }
 /* .contact12{
    margin: 60px 140px;
 } */

 .contact13{
    /* border: 4px solid black; */
    width:390px;
    height: 390px;
    margin-left: 20px;

}
.contact13 img{
    border:1px solid rgb(240, 198, 236);
    background-color: rgb(240, 198, 236);
    border-radius: 90px;
    width: 50px;
    height: 50px;
    margin: 30px -90px;
}
.contact13 h4{
    color: black;
    font-size: 20px;
    margin-top: -20px;
    margin-left: -90px;
}

.contact13 p{
    margin-left: -360px;
    text-align: center;
    margin-top: -20px;
    
 }


.contact13 .p3{
    margin-top: -10px;
    color: rgb(228, 131, 215);
    font-size: 15px;
 }

 .contact16{
    margin: 60px 140px;
 }




 /* Certiapp */
 /* 1.fontpage */
 
 .body7{
    background-color: white;
    margin: 1px;
}

.frontpage{
    
    height: 60px;
    position: sticky;
    top: 0;
    margin-right: 30px;
}





.nav3{
    list-style-type: none;
    display: flex;
    font-size: 20px;
  
    

}

.nav4{
    text-align: right;
    float: right;
    display: flex;
    justify-content: flex-end;
    top: 0;
    background-color: white;
   
  

}

.nav3 li a{
    margin: 2;
    padding:1;
    color: black;
    margin-left: -70px;
    text-decoration: none;
    
     
    
}

.nav3  li:hover{

cursor: pointer;

}


.front1{
    border: 1px solid  rgb(63, 63, 247);
    box-sizing: border-box;
    padding: 10px;
    background-color: rgb(63, 63, 247);
    margin-right: 100px;
   
    
   
 
 }

 .nav3 li .front1{
    color: white;
    
 }

 .front2 img{
    width:150px;
    height: 150px;
    margin-top: 20px;
    margin-left: 20px;
 }

 .front3{
    margin-left: 550px;
    margin-top: 30px;
    box-sizing: border-box;
    padding: 5px;
 }

 .front4{
    box-sizing: border-box;
    padding: 5px;
    margin-left: 10px;
 }

 .front5 h1{
    color: black ;
 }


 /* Issue Certificate */

 .front6{
    margin-right: 1330px;
    color: black;
 }

 .frontpage2{
    margin-left: 450px;
    margin-top: 150px;
    border: 2px solid black;
    width: 400px;
    height: 600px;
 }

 .frontpage3{
    margin-top: 50px;
    font-size: 25px;
    margin-left: 40px;

 }

 .issue1{
    margin-left: 40px;
 }

 .issue2{
    margin-top: 15px;
    margin-left: 40px;   
 }

 .issue2 select{
    width: 300px;
    height: 40px;
 }

 .issue3{
    margin-top: 15px;
    margin-left: 40px;
 }

 .issue4{
    margin: 15px 40px;
 }


.issue4 input{
    width: 293px;
    height: 30px;
}

 .issue5{
    margin: 15px 40px;
 }

 .issue6{
    margin: 15px 40px;
 }

 .issue6 input{
    width: 292px;
    height: 30px;
 }

 .issue7{
    margin: 15px 40px;
 }

 .issue8{
    margin: 15px 40px;
 }

.issue8 select{
    width: 300px;
    height: 40px;
}

 .issue9{
    margin: 15px 40px;
 }

 .issue10{
    margin: 15px 40px;
    box-sizing: border-box;
    
 }

 .issue10 input{
    width: 293px;
    height: 30px;
 }

 .issue11{
    margin: 25px 40px;
   
}

.issue11 input{
    height: 30px;
    background-color: aqua;
    border: 1px solid ;
}

/* view certificate */
.certificate1{
    border: 2px solid black;
    width: 400px;
    height: 600px;

}

.view2 img{
    width: 200px;
    height: 200px;
}


.view1{
    margin-top: 300px;
    margin-left: 40px;
    margin-top: 100px;
    
}

.view1 h1{
    color: black;
}


.view3{
    margin-top: 10px;
    margin-left: 45px;
}

.view4{
    margin-top: 10px;
    margin-left: 50px;
}

.view5{
    margin-top: 10px;
    margin-left: 45px;
}